body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #FFFFFF url("../images/preloader.GIF") 50% 50% no-repeat;
}

#preloader.loaded {
    opacity: 0;
    transition: opacity .15s ease-in-out;
    display: none;
}
